<div class="myplace">
   <span>
    1111
   </span> 
    <button id="<%= data.baseclassorid %>btn">test</button></div>
<style type="text/css">
    .myplace{
        
        background-color:  brown;
    }

</style>
